<div ng-if="username != 'librarian'">
    <h2 align="center">Card list</h2>

    <table class="table">
        <tr>
            <th>BOOK</th>
            <th>TAKEN</th>
            <th>RETURN</th>
        </tr>
        <tr ng-repeat="card in cards">
            <td><h4><a href="#booksapp/{{ card.books.pk }}">{{ card.books.title }}</a></h4></td>
            <td>{{ card.when_giving }}</td>
            <td>{{ card.when_return }}</td>
        </tr>
    </table>

    <a href="#cardsapp/isnottakenbooks" class="btn btn-success">Read new books</a>
    <a href="#cardsapp/update" class="btn btn-success">Return books</a>
</div>

<div ng-if="username == 'librarian'" class="libr-class">
    <h2 align="center">User list :</h2>

    <table class="table">

        <tr ng-repeat="user in users" ng-if="user.username != 'librarian'">
            <td><a href="#cardsapp/librarian/{{ user.id }}"><h4>{{ user.username }}</h4></a></td>
        </tr>
    </table>

</div>

