<h2>Create new book</h2>

<div class="form-group" >
  <label for="title">Title :</label>
  <input type="text" class="form-control" id="title" ng-model="newBook.title">

      <label for="authors"> Authors : </label>
      <select ng-model="newBook.author" multiple class="form-control">
          <option ng-repeat="option in allAuthors" ng-value="option.pk">{{ option.full_name }}</option>
      </select>





<br /><button  class="btn btn-success" ng-click="bookSave()">Create new book</button>
</div>

