<h2>Create new author</h2>

<div class="form-group" >
  <label for="first_name">First name :</label>
  <input type="text" class="form-control" id="first_name" ng-model="firstName">


  <label for="last_name">Last name :</label>
  <input type="text" class="form-control" id="last_name" ng-model="lastName"><br />


<button ng-hide="needBook" class="btn btn-success" ng-click="saveAuthor()">Create new author</button>
</div>

<a href="" ng-click="trigger()" id="textdecor-none"><span ng-hide="needBook" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
<span ng-show="needBook" class="glyphicon glyphicon-minus" aria-hidden="true"></span></a> Add book for author<br />

<div ng-show="needBook">
    <label for="title">Book title :</label>
    <input ng-model="title" type="text" class="form-control" id="title" ng-model="newBook.title">
    <br /><button class="btn btn-success" ng-click="saveAuthorWithBook()">Create new author</button>
</div>