<h2 align="center"><b>Author list :</b></h2>


<table class="table">
    <tr ng-repeat="author in authors">
        <td><a ng-href="#authorsapp/{{ author.pk }}"><h4>{{ author.full_name }}</h4></a></td>
        <td align="right"><a href="#authorsapp/{{ author.pk }}/update"><span class="glyphicon glyphicon-edit"></span> </a></td>
        <td align="right"><a href="" ng-click="deleteAuthor(author.pk)"><span class="glyphicon glyphicon-trash"></span> </a></td>
    </tr>
</table>

<a href="#authorsapp/create" class="btn btn-success">Create new author</a>